@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
html, body, p, div, h1, h2, h3, h4, h5, h6, table, input{
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-align: center;
font-size:20px;
font-size:1.2vmax;
}
h1{
font-size: 2em;
}
h2{
font-size: 1.5em;
}
.focus{
font-size: 1.3em;
}
a{
text-decoration: none;
}
a:visited{
text-decoration: line-through;
}
a:hover{
text-decoration: underline;
}
input, button{
line-height: 20px;
line-height: 1.3em;
text-align: left;
font-size: 1.3em;
}
b{
font-weight:500;
}
